[Unit]
Description=DAB+ DL+/MOT Encoder
Documentation=http://wiki.opendigitalradio.org/Mot-encoder
Wants=network-online.target
After=network-online.target
Before=liquidsoap@dabplus-on-air-processing.service

[Service]
ExecStartPre=-/bin/mkdir -p /var/tmp/mot/%i/slides
ExecStartPre=-/bin/mkdir -p /var/tmp/mot/%i/texts
ExecStartPre=-/bin/mkfifo /var/tmp/mot/%i/pad.fifo
ExecStart=/usr/bin/odr-padenc -v -c 0 -r -o /var/tmp/mot/%i/pad.fifo -t /var/tmp/mot/%i/texts -d /var/tmp/mot/%i/slides
User=liquidsoap
Group=liquidsoap

[Install]
WantedBy=multi-user.target
